<!DOCTYPE HTML>
<html>

  <head>
    <meta charset="utf-8">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body { background-color:#DDD; }
      [class*="col"] { margin-bottom: 20px; }
      img { width: 100%; }
      .well {
        background-color:#CCC;
        padding: 20px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <header class="page-header">
        <h1>FaceRoulette</h1>
      </header>
      <section class="row">
      
        <form class="form-horizontal col-lg-6">
        	<div class="form-group">
        		<input type="text" class="form-control" id="login" placeholder="email">
        	</div>	
        	<div class="form-group">
  				<input type="password" class="form-control input-md" id="password" placeholder="password">
 			</div>
  			<div class="form-group">
  			<div class="checkbox">
    			<label>
      				<input type="checkbox"> Se souvenir de moi
    			</label>
  			</div>
  			
  			<button type="submit" class="btn btn-default">Connexion</button>
  			
  			<div class="btn-group">
				<a href="{% url 'inscription'%}" class="btn btn-large btn-info" > Creer un compte</a>
  			</div>
		</form>
        
      </section>
    </div>  
  </body>
</html>