<!DOCTYPE HTML>
<html>

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Faceroulette - inscription</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/portfolio-item.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

  <body>
    <div class="container">
      <header class="page-header">
        <h1>Faceroulette</h1>
        <h3>Creer un Compte</h3>
      </header>
      <section class="row">
      
    <!-- textarea -->
        <form class="form-horizontal col-lg-6">
        	<div class="form-group">
        		<input type="text" class="form-control" id="prenom" placeholder="prenom">
        	</div>
        	<div class="form-group">
  				<input type="text" class="form-control" id="nom" placeholder="nom">
 			</div>
 			
 	<!-- email -->		
 			<div class="form-group">
        		<input type="text" class="form-control" id="email" placeholder="email">
        	</div>	
        	<div class="form-group">
  				<input type="text" class="form-control" id="confirm_email" placeholder="confirmer l'email">
 			</div>
 			
 	<!-- password -->	
 			<div class="form-group">
        		<input type="password" class="form-control" id="password" placeholder="mot de passe">
        	</div>	
        	<div class="form-group">
  				<input type="password" class="form-control" id="confirm_pass" placeholder="confirmer le mot de passe">
 			</div>
 			
	<!-- radios -->
  			<div class="form-group">
  			<div class="radio">
    <label for="radios-0">
      <input type="radio" name="radios" id="radios-0" value="homme" checked="checked">
      homme
    </label>
	</div>
  <div class="radio">
    <label for="radios-1">
      <input type="radio" name="radios" id="radios-1" value="femme">
      femme
    </label>
	</div>
  <div class="radio">
    <label for="radios-2">
      <input type="radio" name="radios" id="radios-2" value="autre">
      autre
    </label>
	</div>
  			
  			<button type="submit" class="btn btn-default">Inscription</button>
  			
  			
		</form>
        
      </section>
    </div>  
  </body>
</html>