{% extends 'base.html' %}

{% block title %}profil{% endblock %}
{% block body_block %}
    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Profil
                    <small>{{user.username}}</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class=" col-md-4 col-sm-4 col-xs-6">
            
                <img class="img-responsive portfolio-item" src="http://placehold.it/750x500" alt="">
            </div>

            <div class="col-md-4 col-sm-5 col-xs-6">
                <h3>Description</h3>
                <p>un petit texte descriptif que l'utilisateur s'est eclaté a ecrire</p>
            </div>
            <div class="col-md-4 col-sm-5 col-xs-8">    
                <h3>A propos (Là on balance les infos du profil)</h3>
                <ul>
                    <li>Nom</li>
                    <li>Prenom</li>
                    <li>email</li>
                    <li>toussa toussa</li>
                </ul>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Mes photos</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; supersitedelamortquitue.com</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    
{% endblock %}